*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

.debug{
    background-color: aqua;
    border: 1px solid black;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.text-right{
    text-align: end;
}
.h-100{
    height: 100%;
}

.col{
    width: calc(100% / 3);
    padding: 0 10px;
}




/** HEADER **/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fa6903;
    height: 80px;
    z-index: 10;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

header .container{
    padding: 0 10px;
}
header .main-menu{
    text-transform: capitalize;
}
header ul{
    list-style: none;
}
header .logo{
    width: 150px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

header .main-menu li{
    margin-right: 15px;
}
header .social-menu li{
    margin-left: 10px;
}

/** MAIN **/

main{
    padding-top: 150px;
}

main .col{
    width: calc(100% / 3);
    padding: 0 10px;
}
.card{
    margin-bottom: 20px;
}

.card .card-image{
    position: relative;
    cursor: pointer;
}

.card .card-image .seconda-image{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card .card-image:hover .seconda-image{
    display: block;
}

.card .card-image .cuore{
    position: absolute;
    background-color: white;
    padding: 20px 15px;
    top: 20px;
    right: 0;
}

.card .card-image .cuore:hover{
    color: red;
}

.card .card-image .badges{
    position: absolute;
    left: 0;
    bottom: 20px;
}

.card .card-image .badges .badge{
    display: inline-block;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 2px;
}

.card .card-image .badges .badge.tag{
    background-color: green;
}

.card .nome-modello{
    font-weight: bold;
    text-transform: uppercase;
}

.card .prezzi span{
    font-weight: bold;
    color: red;
}

/**  FOOTER **/
footer{
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    height: 80px; 
}

footer .container{
    padding: 0 10px;
}
footer ul{
    list-style: none;
}

footer ul li{
    display: inline-block;
}

footer ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

footer .srl h3{
    margin-top: 5px;
    color: white;
}
footer .srl li{
    margin-right: 10px;
    margin-top: 5px;
    font-size: 13px;
}
footer .social-menu li{
    margin-top: 5px;
    color: white;
    margin-left: 10px;
}
footer .social-menu h4{
    color: white;
    font-size: 13px;
    margin-right: 21px;
}